<?xml version="1.0" encoding="utf-8"?>

<!--    Copyright (C) 2013  Louis Teboul (a.k.a Androguide)
    admin@pimpmyrom.org  || louisteboul@gmail.com
    http://pimpmyrom.org || http://androguide.fr
    71 quai Clémenceau, 69300 Caluire-et-Cuire, FRANCE.

     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; either version 2 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

      You should have received a copy of the GNU General Public License along
      with this program; if not, write to the Free Software Foundation, Inc.,
      51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androguide.honamicontrol"
    android:versionCode="12"
    android:versionName="beta" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.androguide.honamicontrol.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.cpucontrol.CPUActivity"
            android:label="@string/kernel_cpu_control"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.gpucontrol.GPUActivity"
            android:label="@string/kernel_gpu_control"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.powermanagement.PowerManagementActivity"
            android:label="@string/kernel_power_management">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.iotweaks.IOTweaksActivity"
            android:label="@string/kernel_io_tweaks">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.memory.MemoryManagementActivity"
            android:label="@string/memory_management">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.kernel.misc.MiscActivity"
            android:label="@string/kernel_misc">
        </activity>
        <activity
            android:name="com.androguide.honamicontrol.SettingsActivity"
            android:label="@string/action_settings">
        </activity>

        <receiver
            android:name="com.androguide.honamicontrol.bootservice.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
